@import "nullstyle.scss"; //Файл обнуления

body {
  background-color: red;
	padding: 0;
	margin: 0;
}

nav {
  display: block;
  margin: 0 auto;
  background-color: aqua;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.menu_item {

  display: block;
  width: 70px;
  height: 40px;
  margin-top: 5px;
  padding-top: 5px;
  background-color: red;
  border: solid 5px green;
  font-size: 15px;
  text-align: center;
  color: antiquewhite;
  text-transform: uppercase;
}

section {
  width: 100%;
  height: 1200px;
  background-color: green;
  display: inline-block;

}

.block_left {
  display: inline-block;
  width: 515px;
  height: 1000px;
  border: solid 5px blue;


}

.block_right {
  display: inline-block;
  width: 1000px;
  height: 1000px;
  border: solid 5px yellow;
  background: url(../img/image.jpg) center center/cover no-repeat;

  &_title {}
}